---
import { Image } from "astro:assets";
import "@fontsource/jersey-15";

import TampaHacks1 from "../assets/photos/tampahacks1.jpg";
import TampaHacks2 from "../assets/photos/tampahacks2.jpg";
import TampaHacks3 from "../assets/photos/tampahacks3.jpg";
import TampaHacks4 from "../assets/photos/tampahacks4.jpg";
import TampaHacks5 from "../assets/photos/tampahacks5.jpg";
import TampaHacks6 from "../assets/photos/tampahacks6.jpg";

import Counterspell1 from "../assets/photos/counterspell1.jpg";
import Counterspell2 from "../assets/photos/counterspell2.jpg";
import Counterspell3 from "../assets/photos/counterspell3.jpg";
import Counterspell4 from "../assets/photos/counterspell4.jpg";
import Counterspell5 from "../assets/photos/counterspell5.jpg";
import Counterspell6 from "../assets/photos/counterspell6.jpg";
import Counterspell7 from "../assets/photos/counterspell7.jpg";
import Counterspell8 from "../assets/photos/counterspell8.jpg";

import Layout from "../layouts/Layout.astro";
import Event from "../components/Event.astro";
import Email from "../components/Email.astro";
import CounterspellTampaLogo from "../assets/counterspell-tampa.png";
import TampaHacksLogo from "../assets/tampahacks.png";
---

<Layout>
  <div class="flex flex-col items-center justify-start gap-5">
    <p
      class="my-5 flex flex-col items-center justify-start px-10 text-center text-xl text-white md:text-2xl"
    >
      Creating new opportunities for high school hackers in the Tampa Bay area!
    </p>
    <section class="flex w-4/5 flex-col items-center justify-start gap-5">
      <h2
        class="font-display text-center text-3xl font-bold text-white md:text-5xl"
      >
        Events
      </h2>
      <Event
        name="Counterspell Tampa"
        desc="A beginner friendly game jam that happened in 60 cities around the world!"
        color="counterspell-pink"
        image={CounterspellTampaLogo}
        link="https://counterspell.hackclub.com/tampa"
      />
      <Event
        name="TampaHacks"
        desc="TampaHacks' inaugural event in August 2024!"
        color="tampahacks-blue"
        image={TampaHacksLogo}
        link="/2024"
      />
    </section>
    <section class="py-20">
      <a
        href="https://luma.com/tampahacks"
        class="font-display block rounded-lg border-4 border-black bg-tampahacks-blue p-4 text-center text-3xl text-white transition-all hover:scale-105 md:text-4xl"
      >
        Get notified when we have an announcement!
      </a>
    </section>
  </div>
  <section class="m-2 w-4/5 columns-1 md:columns-2 lg:columns-3">
    <Image class="py-2" src={TampaHacks2} alt="Photo from TampaHacks" />
    <Image class="py-2" src={TampaHacks3} alt="Photo from TampaHacks" />
    <Image class="py-2" src={TampaHacks4} alt="Photo from TampaHacks" />
    <Image class="py-2" src={TampaHacks5} alt="Photo from TampaHacks" />
    <Image class="py-2" src={TampaHacks6} alt="Photo from TampaHacks" />
    <Image class="py-2" src={TampaHacks1} alt="Photo from TampaHacks" />

    <Image
      class="py-2"
      src={Counterspell1}
      alt="Photo from Counterspell Tampa"
    />
    <Image
      class="py-2"
      src={Counterspell2}
      alt="Photo from Counterspell Tampa"
    />
    <Image
      class="py-2"
      src={Counterspell3}
      alt="Photo from Counterspell Tampa"
    />
    <Image
      class="py-2"
      src={Counterspell4}
      alt="Photo from Counterspell Tampa"
    />
    <Image
      class="py-2"
      src={Counterspell5}
      alt="Photo from Counterspell Tampa"
    />
    <Image
      class="py-2"
      src={Counterspell6}
      alt="Photo from Counterspell Tampa"
    />
    <Image
      class="py-2"
      src={Counterspell7}
      alt="Photo from Counterspell Tampa"
    />
    <Image
      class="py-2"
      src={Counterspell8}
      alt="Photo from Counterspell Tampa"
    />
  </section>
</Layout>
